*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.grid{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows:100px 100px 100px 100px 100px ; */
    width: 210px;

}
.box{
    width: 70px;
    height: 50px;
    border-radius: 2px;
    background-color: rgb(179, 141, 226);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
